body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Variable", "Segoe UI", sans-serif;
  background: #0D111B; /* garante fundo mesmo em elementos fora do MUI */
  color: #FFFFFF;
}

.container {
  max-width: 960px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.post-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.subheader {
  color: #64748b;
}
